<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>湖南华邦互联科技有限公司</title>
    
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta  name="description" lang="en" content="湖南华邦互联科技有限公专注智慧城市、智慧校园、智慧物业、智慧安防、智慧交通的研发"/>
    <meta name="keywords" lang="en" content="智慧城市、智慧校园、智慧物业、智慧安防、智慧交通"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <!--头部菜单-->
    <header id="header">
        <!--Mobile Menu-->
        <div id="mobile-nav" class="mobile-nav hidden-md hidden-lg show-nav">
            <ul class="mobile-navigation">
                <li>
                    @Html.ActionLink("首页", "Index", "Home")
                </li>
                <li class="li-easein">
                    @Html.ActionLink("产品", "Index", "Home")
                </li>

                <li>
                    @Html.ActionLink("解决方案", "Xiaoyuan", "Solution")
                </li>

                <li>@Html.ActionLink("服务", "index", "Home")</li>
                <li>
                    @Html.ActionLink("案例", "index", "Home")
                </li>
                <li>
                    @Html.ActionLink("关于我们", "Contact", "Home")
                </li>
            </ul>
        </div>
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="nav-logo pull-left">
                    @Html.ActionLink("Logo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="hidden-sm hidden-xs">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("首页", "index", "Home")
                        </li>
                        <li class="li-easein">
                            @Html.ActionLink("产品", "index", "Home")
                        </li>

                        <li class="li-easein">
                            @Html.ActionLink("解决方案", "Shequ", "Solution")
                            <div class="nav-submenu">
                                <span class="span_arrow arrow_up"></span>
                                <ul class="list-link">
                                    <li><a href="/Solution/Xiaoyuan">智慧校园</a></li>
                                    <li><a href="/Solution/Jiaotong">智慧交通</a></li>
                                    <li><a href="/Solution/Anfang">智慧安防</a></li>
                                    <li><a href="/Solution/Wuye">智慧物业</a></li>
                                </ul>
                            </div>
                        </li>

                    <li class="li-easein">@Html.ActionLink("服务", "Contact", "Home")</li>
                    <li class="li-easein">
                        @Html.ActionLink("案例", "index", "Home")
                    </li>
                    <li class="li-easein">
                        @Html.ActionLink("关于我们", "Contact", "Home")
                        <div class="nav-submenu">
                            <span class="span_arrow arrow_up"></span>
                            <ul class="list-link">
                                <li><a href="http://localhost:33728/Home/Contact#desc">公司简介</a></li>
                                <li><a href="http://localhost:33728/Home/Contact#contract">联系我们</a></li>
                                <li><a href="http://localhost:33728/Home/Contact#job">职位招聘</a></li>
                                <li><a href="http://localhost:33728/Home/Contact#job">发展历程</a></li>
                            </ul>
                        </div>
                    </li>
                  </ul>
               
                </div>
                <a class="mobile-nav-trigger visible-xs visible-sm"  id="mobile-nav-trigger">
                  <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
    </header>
    <!--头部菜单 end-->

    @RenderBody()
    <!--底部-->
    <footer>
        <div class="container footer-top">
            <div class="row">
          
                <div class="animated in col-xs-6 col-md-6 col-lg-3">
                    <h5><span>链接</span></h5>
                    <ul>
                        <li><a href="#" class="a-easein">华夏盛想</a></li>
                        <li><a href="#" class="a-easein">售电云</a></li>
                        <li><a href="#" class="a-easein">售电云</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-3">
                    <h5><span>解决方案</span></h5>
                    <ul>
                        <li><a href="#" class="a-easein">智慧城市</a></li>
                        <li><a href="#" class="a-easein">智慧地产</a></li>
                        <li><a href="#" class="a-easein">智慧边防</a></li>
                        <li><a href="#" class="a-easein">智慧物业后勤</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-6 col-lg-3">
                    <h5><span>案例中心</span></h5>
                    <ul>
                        <li><a href="#" class="a-easein">美国华盛顿智慧城市</a></li>
                        <li><a href="#" class="a-easein">湖南长沙智慧城市</a></li>
                        <li><a href="#" class="a-easein">智慧园区系统</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-3">
                  <h5><span>联系我们</span></h5>
                  <ul>
                <li>Tel：010-12456</li>
                 <li>北京市石景山区鲁谷路西鑫大厦顶层</li>
        <li>客服QQ：1234567</li>
    </ul>
</div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="company">北京华邦互联科技有限公司 Copyright @DateTime.Now.Year http://www.fissoft.com All Right reserved 京ICP备11077839号</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                var nav = $(".navbar-static-top");
                if (nav.offset().top > 450) {
                    nav.addClass("bg-black");
                }
                else {
                    nav.removeClass("bg-black");
                }
            })
            $("#mobile-nav-trigger").click(function () {
                var mobileMenu=$("#mobile-nav");
                if (mobileMenu.hasClass('hide-nav')) {
                    setTimeout(function () {
                        mobileMenu.removeClass('hide-nav').addClass('show-nav');
                    }, 100);
                }
                else {
                    setTimeout(function () {
                        mobileMenu.removeClass('show-nav').addClass('hide-nav');
                    }, 100);
                }
            })
        })
    </script>
</body>
</html>

