<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css">
           html>body{font-family:"PingFang-SC-Light","PingFang SC","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,Verdana,"Microsoft Yahei",sans-serif;font-size:14px;}
           *{padding:0;margin:0}
           html ul{list-style:none;}
           html a:hover,a:focus{text-decoration:none;}
           @@media (max-width: 767px) {.h1, h1 {font-size:26px}.h2, h2 {font-size:22px}.h3, h3 {font-size:20px}.h4, h4 {font-size:16px}.h5, h5 {font-size:14px}.h6, h6 {font-size:12px}}
           @@media (min-width: 768px) {.h1, h1 {font-size:28px}.h2, h2 {font-size:26px}.h3, h3 {font-size:24px}.h4, h4 {font-size:20px}.h5, h5 {font-size:18px}.h6, h6 {font-size:14px}}
           @@media (min-width: 992px) {.h1, h1 {font-size: 34px;}.h2, h2{font-size:30px}.h3, h3 {font-size:26px}.h4, h4 {font-size:22px}.h5, h5 {font-size:18px}.h6, h6 {font-size:14px}}
           @@media (min-width: 1200px) {.h1, h1 {font-size:36px}.h2, h2 {font-size:32px}.h3, h3 {font-size:28px}.h4, h4 {font-size:24px}.h5, h5 {font-size:18px}.h6, h6 {font-size:14px}}
          
    </style>
    <style type="text/css">
        /*主题颜色 color：#23A1F6*/
        /*bootstrap 覆盖样式*/
        html .navbar-nav>li>a:hover,.navbar-nav>li>a:focus{background:none;}
        html .navbar-nav > li {position:relative}
        html .navbar-nav li > a {line-height:20px;color:#ffffff;padding-left:30px;padding-right:30px}
        html .navbar-nav li>a:hover{color:#23A1F6;}
        .navbar-static-top {padding:20px 0;position:relative}
        
        html .carousel-inner > .item > img {width:100%;height:100% }
        html .carousel-inner > .item {}
        .glyphicon-align-justify {color:#ffffff}
        .container {padding:0}
        /*自定义样式*/
        html #header {position:fixed;top:0;width:100%;z-index:1000;}
        html .mobile-nav-trigger
        {
            background-color:#23A1F6;
            display:inline-block;
            width:35px;
            height:35px;
            text-align:center;
            line-height:35px; 
            position:absolute;
            right:0;
            top:20px;
            margin-right:20px;
            cursor:pointer;
        }
        .nav-logo {height:50px;line-height:50px;}
        .mobile-nav {
          position:fixed;
          background-color:#373737;
          width:220px;
          height:100%;
          z-index:8888;
          left:0;
          top:0;
          transition:all 0.25s ease-out 0s;
          -webkit-transition:all 0.25s ease-out 0s;
          -moz-transition:all 0.25s ease-out 0s;
        }
        .hide-nav {
          transform:translateX(-220px);
        }
        .show-nav {
         transform:translateX(0px);
        }
        .mobile-nav ul li a {
          color:gray;
          display:block;
          padding:1em 5%;    
          border-top:1px solid #4f4f4f;
          border-bottom:1px solid #292929;
          transition:all 0.2s ease-out;
          cursor:pointer;
        }
        .mobile-nav ul li a:hover {background-color: #23A1F6;color: #ffffff;}
        html .li-easein{transition:all .5s ease-in .1s;-webkit-transition:all .5s ease-in .1s;-moz-transition:all .5s ease-in .1s}
        html .navbar   .nav-submenu {display:none;}
        .nav .nav-submenu {width:120px;padding:10px 0;text-align:center;position:absolute;background-color:rgba(23,34,48,.7);border-top:2px solid #ffffff;display:none;top:50px;left:50%;margin-left:-60px;}
        .navbar-nav li:hover .nav-submenu{display:block;}
        html .navbar .nav-submenu li>a{height:35px;line-height:35px;display:inline-block;padding:0 !important}
        .span_arrow {position:absolute;left:50%;top:-10px;margin-left:-10px}
        .arrow_up{height:0;width:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px  solid #ffffff}

        footer {background-image:url(../../Content/Images/foot_bg.jpg);background-size:100% 100%;color:#ffffff;}
        footer a,footer ul > li{color:#ffffff;margin-bottom:5px;}
        .a-easein{transition:all ease-in 0.3s}
        .a-easein:hover {color:#23A1F6}
        footer .company {margin:20px 0}
        footer h5 {margin-bottom:20px}
        footer .footer-top {padding:20px 0}
        html footer h5 span{ border-bottom:2px solid #23A1F6;padding-bottom:5px}
        footer .footer-bottom {font-family:'宋体';background-color:rgba(0,0,0,0.3)}
        @@media(min-width:992px) {
            .bg-black {background-color: #373737 !important;padding:0;transition: all .5s ease-in-out;
        }
        @@media(min-width:768px)
        {
           .carousel-inner > .item {height:300px;}
        }
        @@media(min-width: 1200px) {
            .carousel-inner > .item {height:500px;}
        }
        @@media (min-width:992px) {
          .carousel-inner > .item {height:500px;}
         }
        @@media(max-width:992px) {
  
        }
    </style>
</head>
<body>
    <!--头部菜单-->
    <header id="header">
        <!--Mobile Menu-->
        <div id="mobile-nav" class="mobile-nav hidden-md hidden-lg show-nav">
            <ul class="mobile-navigation">
                <li>
                    @Html.ActionLink("首页", "Index", "Home")
                </li>
                <li class="li-easein">
                    @Html.ActionLink("产品", "About", "Home")
                </li>

                <li>
                    @Html.ActionLink("解决方案", "Contact", "Home")
                </li>

                <li>@Html.ActionLink("服务", "Contact", "Home")</li>
                <li>
                    @Html.ActionLink("案例", "Contact", "Home")
                </li>
                <li>
                    @Html.ActionLink("关于我们", "Contact", "Home")
                </li>
            </ul>
        </div>
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="nav-logo pull-left">
                    @Html.ActionLink("Logo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="hidden-sm hidden-xs">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("首页", "Index", "Home")
                        </li>
                        <li class="li-easein">
                            @Html.ActionLink("产品", "About", "Home")
                        </li>

                        <li class="li-easein">
                            @Html.ActionLink("解决方案", "Contact", "Home")
                            <div class="nav-submenu">
                                <span class="span_arrow arrow_up"></span>
                                <ul class="list-link">
                                    <li><a href="#">智慧城市</a></li>
                                    <li><a href="#">智慧园区</a></li>
                                    <li><a href="#">物业管理</a></li>
                                    <li><a href="#">智慧校园</a></li>
                                    <li><a href="#">智慧生活</a></li>
                                </ul>
                            </div>
                        </li>

                    <li class="li-easein">@Html.ActionLink("服务", "Contact", "Home")</li>
                    <li class="li-easein">
                        @Html.ActionLink("案例", "Contact", "Home")
                        <div class="nav-submenu">
                            <span class="span_arrow arrow_up"></span>
                            <ul class="list-link">
                                <li><a href="#">公司简介</a></li>
                                <li><a href="#">联系我们</a></li>
                                <li><a href="#">职位招聘</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="li-easein">
                        @Html.ActionLink("关于我们", "Contact", "Home")
                        <div class="nav-submenu">
                            <span class="span_arrow arrow_up"></span>
                            <ul class="list-link">
                                <li><a href="#">公司简介</a></li>
                                <li><a href="#">联系我们</a></li>
                                <li><a href="#">职位招聘</a></li>
                            </ul>
                        </div>
                    </li>
                  </ul>
               
                </div>
                <a class="mobile-nav-trigger visible-xs visible-sm"  id="mobile-nav-trigger">
                  <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
    </header>
    <!--头部菜单 end-->

    @RenderBody()
    <!--底部-->
    <footer>
        <div class="container footer-top">
            <div class="row">
          
                <div class="animated in col-xs-6 col-md-6 col-lg-3">
                    <h5><span>链接</span></h5>
                    <ul>
                        <li><a href="#" class="a-easein">华夏盛想</a></li>
                        <li><a href="#" class="a-easein">售电云</a></li>
                        <li><a href="#" class="a-easein">售电云</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-3">
                    <h5><span>解决方案</span></h5>
                    <ul>
                        <li><a href="#" class="a-easein">智慧城市</a></li>
                        <li><a href="#" class="a-easein">智慧地产</a></li>
                        <li><a href="#" class="a-easein">智慧边防</a></li>
                        <li><a href="#" class="a-easein">智慧物业后勤</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-6 col-lg-3">
                    <h5><span>案例中心</span></h5>
                    <ul>
                        <li><a href="#" class="a-easein">美国华盛顿智慧城市</a></li>
                        <li><a href="#" class="a-easein">湖南长沙智慧城市</a></li>
                        <li><a href="#" class="a-easein">智慧园区系统</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-3">
                  <h5><span>联系我们</span></h5>
                  <ul>
                <li>Tel：010-12456</li>
                 <li>北京市石景山区鲁谷路西鑫大厦顶层</li>
        <li>客服QQ：1234567</li>
    </ul>
</div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="company">北京华邦互联科技有限公司 Copyright @DateTime.Now.Year http://www.fissoft.com All Right reserved 京ICP备11077839号</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            //$("#banner_carousel").carousel('cycle');
            $("#btn_slide").click(function () {
                $("#collapse_left").animate({
                    width: 'toggle'
                })
            })
            $(window).scroll(function () {
                var nav = $(".navbar-static-top");
                if (nav.offset().top > 450) {
                    nav.addClass("bg-black");
                }
                else {
                    nav.removeClass("bg-black");
                }
            })
            $("#mobile-nav-trigger").click(function () {
                var mobileMenu=$("#mobile-nav");
                if (mobileMenu.hasClass('hide-nav')) {
                    setTimeout(function () {
                        mobileMenu.removeClass('hide-nav').addClass('show-nav');
                    }, 100);
                }
                else {
                    setTimeout(function () {
                        mobileMenu.removeClass('show-nav').addClass('hide-nav');
                    }, 100);
                }
            })
        })
    </script>
</body>
</html>

